@import '../../css/common.scss';

.PowerText{
    @include row;
    justify-content: space-between;
    align-items: baseline;
    width: 300px;
    height: 35px;
    margin-left: 3px;
}

.PowerTextName{
    font-size: 13px;
    width: 195px;
    height: 19px;
    text-align: left;
    overflow: hidden;
    margin-left: 4px;
    &:hover{
        cursor:pointer
    }
}

.PowerTextLevel{
    @include cursor-pointer;
    font-size: 11px;
    height: 16px;
}