@import '../css//common.scss';

.Toon {
    @include column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.ToonGeneral {
    @include row;
    align-items: space-between;
    width: $power_bar_width;
}

.Hidden {
    display: none;
}