@import '../css/common.scss';

.BasicInfo{
    @include column;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.BasicInfoName {
    height: 19px;
    width: 175px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 3px;
    border-bottom-width: 1px;
    color: $text_color_disabled;
    border-bottom-color: $text_color;
}

.BasicInfoArchetypeAndLevel{
    @include row;
    width: 175px;
}

.BasicInfoArchetype{
    @include cursor-default;
    font-size: 11px;
    height: 16px;
    width: 100px;
    text-align: left;
    overflow: hidden;
  }

  .BasicInfoLevel{
        @include cursor-default;
        font-size: 11px;
        height: 16px;
        width: 85px;
        text-align: right;
        overflow: hidden;
    }

.BasicInfoPrimaryAndSecondaryPowerSets{
    @include cursor-pointer;
    font-size: 11px;
    height: 16px;
    width: 215px;
    text-align: left;
    overflow: hidden;
  }