@import '../css/common.scss';

.ImageButton {
    @include column;
    justify-content: center;
    align-items: center;
    width: $large_button_width;
    height: $large_button_height;
}

.ImageButton-Image{
    width: 75%;
    height: 75%;
}

.ImageButton-Label{
    @include cursor-pointer;
    text-align: center;
    width: 100%;
    height: 25%;
    color: $button_text_color;
    font-size: $button_text_size;
}