@import '../css//common.scss';

.PowerPicker {
    @include column;
    width: 280px;
    height: 205px;
    background: white;
    color: white;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    box-shadow: 10px 10px 47px -15px rgba(85,85,85,1);
}

.PowerPickerTitlebar {
    @include row;
    @include cursor-move;
    justify-content: space-between;
    align-content: center;
    width: 280px;
    height: 30px;
    background-color: $text_color;
}

.PowerPickerTitle {
    width: 200px;
    height: 20px;
    text-align: left;
    margin-left: 3px;
}

.PowerPickerBody{
    @include row;
    @include cursor-default;
    width: 280px;
    height: 150px;
    background-color: white;
}

.PowerPickerButtons{
    @include row;
    width: 280px;
    height: 25px;
}

.PowerPickerButton{
    @include cursor-pointer;
    width: 140px;
    height: 25px;
    background-color: $text_color;
    color: white;
    border-width: 1px;
    border-color: $text_color_disabled;
}

.PowerPickerButtonDisabled{
    @include cursor-default;
    width: 140px;
    height: 25px;
    background-color: $text_color_disabled;
    color: white;
    border-width: 1px;
    border-color: $text_color_disabled;
}
