@import '../css//common.scss';

.PowerSetPicker {
    @include column;
    width: 280px;
    height: 205px;
    background: white;
    color: white;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    box-shadow: 10px 10px 47px -15px rgba(85,85,85,1);
}

.PowerSetPickerTitlebar {
    @include row;
    @include cursor-move;
    justify-content: space-between;
    align-content: center;
    width: 280px;
    height: 30px;
    background-color: $text_color;
}

.PowerSetPickerTitle {
    width: 200px;
    height: 20px;
    text-align: left;
    margin-left: 3px;
}

.PowerSetPickerBody{
    @include row;
    @include cursor-default;
    width: 280px;
    height: 150px;
    background-color: white;
}

.PowerSetPickerButtons{
    @include row;
    width: 280px;
    height: 25px;
}

.PowerSetPickerButton{
    @include cursor-pointer;
    width: 140px;
    height: 25px;
    background-color: $text_color;
    color: white;
    border-width: 1px;
    border-color: $text_color_disabled;
}

.PowerSetPickerButtonDisabled{
    @include cursor-default;
    width: 140px;
    height: 25px;
    background-color: $text_color_disabled;
    color: white;
    border-width: 1px;
    border-color: $text_color_disabled;
}
