@import '../css//common.scss';

.StatusBar {
    @include cursor-pointer;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: small;
    background-color: silver;
    color: $text_color;
}

.StatusBarVisible {
    height:18px; 
    opacity: 1;
}

.StatusBarHidden {
    height:0px; 
    overflow: hidden;
    opacity: 0; 
    transition: height .25s, opacity .5s;
}