@import '../css//common.scss';

.TextPicker{
    @include column;
    width: 140px;
    height: 150px;
    border-width: 1px;
    border-color: $text_color;
}

.TextPickerTitleBar{
    @include row;
    @include cursor-move;
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
}

.TextPickerPowerSetTitle{
    width: 138px;
    height: 25px;
    color: $text_color;
}

.TextPickerList {
    @include column;
    width: 136px;
    height: 125px;
    overflow-y: scroll;
    margin-left: 2px;
}

.TextPickerListItem {
    @include cursor-pointer;
    width: 120px;
    min-height: 18px;
    max-height: 18px;
    color: $text_color;
    background-color: white;
    text-align: left;
    font-size: 10pt;
    overflow: hidden;
    word-break: break-all;
    &:hover{
        font-weight: bold;
    }
}

.TextPickerListItemSelected {
    @include cursor-pointer;
    width: 120px;
    min-height: 18px;
    max-height: 18px;
    color: white;
    background-color: $text_color;
    text-align: left;
    font-size: 10pt;
    overflow: hidden;
    word-break: break-all;
    &:hover{
        font-weight: bold;
    }
}
