@import '../css//common.scss';

.Toastify__toast--error {
    border-color: #e74c3c;
    border-width: medium;
    background-color: darkred;
}

.Toastify__toast--info {
    border-color: white;
    color: white;
    border-width: medium;
    background-color: $text_color;
}
